body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1vw;
  margin:0;
  padding:0;
  line-height: 1.5;
}

@media (max-width: 1599px) and (min-width: 800px) {
  .liquid-h1 {
      font-size: calc(48px + (8 * (100vw - 800px)) / 800);
  }
}

@media (max-width: 799px) and (min-width: 400px) {
  .liquid-h1 {
    font-size: calc(32px + (16 * (100vw - 400px)) / 400);
  }
}

@media (max-width: 375px) and (min-width: 175px) {
  .liquid-h1 {
    font-size: calc(14.9px + (17.1 * (100vw - 175px)) / 201);
  }
}

@media (min-width: 1600px) {
  .liquid-h1 {
    font-size: 56px;
  }
}
